html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 0..rem;
  margin-top: auto;
  font-size: 1.5rem;
}